.main-div {
  --padding: 1rem 1rem;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
}

.content {
  max-width: 1152px;
  min-width: 260px;
  width: 100%;
}

#error-page {
  padding-left: 36px;
}

@media (min-width: 600px) {
  .main-div {
    --padding: 1rem 4rem;
  }
}
